[common]
state_file = state.ini
control = matrix

[tesla]
email = user@example.com

[matrix]
# Store matrix state in this directory
store_path = matrix_store

# Homeserver to use
homeserver = https://matrix.org/

# Matrix id for the bot
mxid = @yourtesla:matrix.org

# Password for logging in to Matrix; can be removed after initial signin is complete
# and access token is written to state_file
password = secret_password

# Trust the devices of these users. Not secure against active attacks.
trust_mxids = @youruserid:matrix.org,@anotherid:example.com

[slack]
slack_api_secret_id =     <slack api key>
slack_app_secret_id =     <slack app key>
# Channel from which you can authorize and logout
slack_admin_channel_id =  <admin channel id from slack>
# Channel where all the messages are sent
channel = #teslacontrol
