TeslaPy==2.5.0
python-socketio[asyncio_client]==5.5.2
aiohttp==3.8.6
aiounittest==1.4.1
typing-extensions==4.1.1
google-cloud-secret-manager==2.10.0
google-cloud-firestore==2.4.0
setuptools==65.5.1
urllib3==1.26.18
