# https://www.honlsoft.com/blog/2022-02-01-using-github-actions-to-build-docker-images
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: eras/teslabot

on: [push]

jobs:
  build-and-push-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build started notification
        uses: s3krit/matrix-message-action@v0.0.3
        with:
          room_id: ${{ secrets.MATRIX_ROOM_ID }}
          access_token: ${{ secrets.MATRIX_ACCESS_TOKEN }}
          message: "TeslaBot release ${{ github.ref_name }} Docker build started. [Progress.](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          server: ${{ secrets.MATRIX_SERVER }}
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v1
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v2
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and Push Versioned Docker Image
        id: build-and-push
        uses: docker/build-push-action@v2
        if: ${{ github.ref != 'refs/heads/master' }}
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and Push Latest Docker Image
        id: build-and-push-latest
        uses: docker/build-push-action@v2
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build succeeded notification
        if: ${{ success() }}
        uses: s3krit/matrix-message-action@v0.0.3
        with:
          room_id: ${{ secrets.MATRIX_ROOM_ID }}
          access_token: ${{ secrets.MATRIX_ACCESS_TOKEN }}
          message: "TeslaBot release ${{ github.ref_name }} Docker build complete. [Logs.](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          server: ${{ secrets.MATRIX_SERVER }}
      - name: Build failed notification
        if: ${{ !success() }}
        uses: s3krit/matrix-message-action@v0.0.3
        with:
          room_id: ${{ secrets.MATRIX_ROOM_ID }}
          access_token: ${{ secrets.MATRIX_ACCESS_TOKEN }}
          message: "TeslaBot release ${{ github.ref_name }} Docker build failed. [Logs.](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          server: ${{ secrets.MATRIX_SERVER }}
